<% include ../header %>
<div class="wrap">
    <% include ../navBar %>
    <% include ../banner %>
    <div class="container joinus">
        <div class="row">
            <div class="col-xs-3 text-center">
                <nav class="">
                    <ul class="nav bs-docs-sidenav sideNav">
                        <% postDate.forEach(function(item, i){ %>
                        <li class="">
                            <h4 class="jobtitle"><%= item.title %></h4>
                        </li>
                        <% } ) %>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-9" id="contentbox">
                <% postDate.forEach(function(item, i){ %>
                <div class="content content-word" style="display:none;">
                    <%- item.content %>
                </div>
                <% } ) %>
            </div>
        </div>
    </div>
    <% include ../footBar %>
</div>
<% include ../resource %>

<script>
     var obj=$('.jobtitle');
     obj.each(function(i,item){
        obj.eq(0).addClass('active');
        $("#contentbox div").eq(0).addClass("show");
        $(this).click(function(){
            $('.jobtitle.active').removeClass('active');
            $(this).addClass('active');
            $("#contentbox div.show").removeClass("show");
            $("#contentbox div").eq(i).addClass("show")
        });
     });
</script>
<% include ../footer %>