<% include ../header %>
<div class="wrap">
    <% include ../navBar %>
    <% include ../banner %>
    <div class="product">
        <div class="section wechatLocation" id="wechatLocation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="left">
                            <img src="./images/product/location.png" alt="">
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="left">
                            <h1>微信考勤</h1>
                            <h2 class="one">微信考勤功能，可以让员工在指定的</h2>
                            <h2 class="two">时间、地点、范围内进行签到、签退</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section wechatapprovals" id="wechatapprovals">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 text-left">
                        <div class="right">
                            <h1>申请审批</h1>
                            <h2 class="one">员工随时发起各种工作流程申请</h2>
                            <h2 class="two">管理人员随时随地快速审批</h2>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="right">
                            <img src="./images/product/approvals.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section wechatCustomer" id="wechatCustomer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="left">
                            <img src="./images/product/wechatCustomer.png" alt="">
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="left">
                            <h1>客户跟进</h1>
                            <h2 class="one">销售人员客户拜访记录添加</h2>
                            <h2 class="two">员工当前位置及时了解，不错过任何商机</h2>
                            <h2 class="three">让您的管理过程变得更轻松</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section wechatRemind" id="wechatRemind">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="right">
                            <h1>微信提醒</h1>
                            <h2 class="one">员工无论是在办公室</h2>
                            <h2 class="two">还是奔波于一线</h2>
                            <h2 class="three">企业信息所有消息瞬间接收</h2>
                        </div>
                    </div>
                    <div class="col-xs-6">
                       <div class="right">
                           <img src="./images/product/wechatRemind.png" alt="">
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section wechatLog" id="wechatLog">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="left">
                            <img src="./images/product/wechatLog.png" alt="">
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="left">
                            <h1>工作日志</h1>
                            <h2 class="one">时间轴告诉你员工每天都在做什么?</h2>
                            <h2 class="two">日报月报内容一目了然，还可以及时评论</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section wechaSave" id="wechaSave">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="right">
                            <h1>可靠的安全保障</h1>
                            <h3 class="one">确保信息安全是连接企业的基础。腾讯及微信已建立的</h3>

                            <h3 class="two">业界一流的安全保障体系、高可靠的系统实现机制，以</h3>

                            <h3 class="three">及企业号完善的安全特性，为企业信息安全提供了全方</h3>

                            <h3 class="four">位的安全保障。</h3>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="right">
                            <img src="./images/product/wechatSave.png" alt=""></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="score_top" id="score_top">
        <span class="glyphicon glyphicon-plane"></span>
    </div>
    <% include ../footBar %>
</div>
<% include ../resource %>
<script src="/javascripts/product2.min.js"></script>
<% include ../footer %>