<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/vender/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css"></head>
<body>