<div class="col-md-2" style="height:100%;background:#EBE7DB;">
    <ul class="nav nav-pills nav-stacked" id="sideBar">
        <li>
            <a href="/admin/home">首页</a>
        </li>
        <li>
            <a href="/admin/aboutUs">关于我们</a>
        </li>
        <li>
            <a href="/admin/joinUsList">招聘管理</a>
        </li>
        <li>
            <a href="/admin/exampleList">客户案例</a>
        </li>
        <li>
            <a href="/admin/experience">体验申请</a>
        </li>
        <li>
            <a href="/admin/activityList/1">活动</a>
        </li>
    </ul>
</div>
<script>
   /* var sideActive = $('#active').val();
    $('.sideBar').children().eq(sideActive).addClass('active');*/
</script>