<% include header%>
<style>
    .upload_item{ width: 50px; height: 45px; overflow: hidden;border: 2px dashed #bfbfbf; float: left;margin-right: 10px;}
    .upload_item_add{  width: 50px; height: 45px; display: block; line-height: 42px; text-align: center; font-size: 30px; cursor: pointer;}
    .upload_input{ }
</style>
<div class="container">
    <form method="post" action="/admin/upload3" enctype="multipart/form-data">
        <table>
            <tr>
                <td>经度：</td>
                <td>
                    <input type="text" name="x" id="x" />
                </td>
            </tr>
            <tr>
                <td>维度：</td>
                <td>
                    <input type="text" name="y" id="y" />
                </td>
            </tr>
            <tr>
                <td>分类：</td>
                <td>
                    <select name="cat_id">
                        <option value="1">分类1</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>地址：</td>
                <td>
                    <input type="text" name="address" id="address" />
                </td>
            </tr>
            <tr>
                <td>标题：</td>
                <td>
                    <input type="text" name="title" id="title" />
                </td>
            </tr>
            <tr>
                <td>简介：</td>
                <td>
                    <input type="text" name="desc" id="desc" />
                </td>
            </tr>
            <tr>
                <td>内容：</td>
                <td>
                    <input type="text" name="content" id="content" />
                </td>
            </tr>
            <tr>
                <td>图片：</td>
                <td id="upload_box">
                    <div class="upload_item" index="0" style="display:none;">
                        <span class="upload_item_add" onclick="ADD.upload_click(this)">+</span>
                        <input type="file" name="pics" id="pics" class="upload_input" onchange="ADD.upload_change(this)" />
                    </div>
                    <div class="upload_item" index="1">
                        <span class="upload_item_add" onclick="ADD.upload_click(this)">+</span>
                        <input type="file" name="pics" id="pics" class="upload_input" onchange="ADD.upload_change(this)" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>价格：</td>
                <td>
                    <input type="text" name="price" id="price" />
                </td>
            </tr>
            <tr>
                <td>标签：</td>
                <td>
                    <input type="text" name="tags" id="tags" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="提交" />
                </td>
            </tr>
        </table>
    </form>
</div>

<%- include resource %>
<script>
    var ADD = {
        upload_click:function(obj){
            $(obj).parent().children().eq(1).click();
        },
        upload_change:function(obj){
            var path;
            path=$(obj).val();      //C:\Documents and Settings\hud\桌面\AddFile.jpg
            var aa;
            aa=path.split('.');
            //alert(aa[aa.length-1]);  //jpg 结果
            var name;
            name=path.split('\\');
            var bb=name[name.length-1];
            //alert(bb.substr(0,bb.indexOf('.')));  //AddFile 结果
            $(obj).parent().children().eq(0).css('fontSize','12px');
            $(obj).parent().css('borderStyle','solid');
            $(obj).parent().children().eq(0).html(bb.substr(0,bb.indexOf('.')));
            if($(obj).parent().attr('index')==1){//新增
                var html = '<div class="upload_item" index="1"><span class="upload_item_add" onclick="ADD.upload_click(this)">+</span><input type="file" name="pics" id="pics" class="upload_input" onchange="ADD.upload_change(this)" /></div>';
                $('#upload_box').append(html);
                $(obj).parent().attr('index','0');
            }
        }
    };
</script>
<% include footer %>