<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=auto,maximum-scale=1.0,minimum-scale=1.0" name="viewport"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/vender/bootstrap/css/bootstrap.css">
   </head>
<body>