<% include header %>
<link rel="stylesheet" href="/css/animation.css"/>
<link rel="stylesheet" href="/css/mobile.css">

<!--<div class="btn"><span class="glyphicon glyphicon-music"></span></div>-->
<div class="product">
    <div class="section s_1">
        <div class="imgBox">
            <img class="img01" src="/images/mobile/01.png" alt=""/>
            <img class="img02" src="/images/mobile/01_1.png" alt=""/>
        </div>
        <div class="textBox">
            <h1>微信考勤</h1>
            <h4 class="one">微信考勤功能，可以让员工在指定的</h4>
            <h4 class="two">时间、地点、范围内进行签到、签退</h4>
        </div>
    </div>
    <div class="section s_2 hidden">
        <div class="textBox">
            <h1>申请审批</h1>
            <h4 class="one">员工随时发起各种工作流程申请</h4>
            <h4 class="two">管理人员随时随地快速审批</h4>
        </div>
        <div class="imgBox">
            <img class="img01" src="/images/mobile/02.png" alt=""/>
            <img class="img02" src="/images/mobile/02_1.png" alt=""/>
        </div>
    </div>
    <div class="section s_3 hidden">
        <div class="imgBox">
            <img class="img01" src="/images/mobile/03.png" alt=""/>
            <img class="img02" src="/images/mobile/03_1.png" alt=""/>
        </div>
        <div class="textBox">
            <h1>客户跟进</h1>
            <h5 class="one">销售人员客户拜访记录添加</h5>
            <h5 class="two">员工当前位置及时了解，不错过任何商机</h5>
            <h5 class="three">让您的管理过程变得更轻松</h5>
        </div>
    </div>
    <div class="section s_4 hidden">
        <div class="textBox">
            <h1>微信提醒</h1>
            <h4 class="one">员工无论是在办公室</h4>
            <h4 class="two">还是奔波于一线</h4>
            <h4 class="three">企业信息所有消息瞬间接收</h4>
        </div>
        <div class="imgBox">
            <img class="img01" src="/images/mobile/04.png" alt=""/>
        </div>
    </div>
    <div class="section s_5 hidden">
        <div class="imgBox">
            <img class="img01" src="/images/mobile/05.png" alt=""/>
            <img class="img02" src="/images/mobile/05_1.png" alt=""/>
        </div>
        <div class="textBox">
            <h1>工作日志</h1>
            <h4 class="one">时间轴告诉你员工每天都在做什么?</h4>
            <h4 class="two">日报月报内容一目了然，还可以及时评论</h4>
        </div>
    </div>
    <div class="section s_6 hidden">
        <div class="textBox">
            <h4 class="one">PK不是万能的，销售管理没有PK是万万不能的,客户资源数量排行自动生成，拜访数量有对比，成交金额有比较，销售动力源源不断！</h4>
        </div>
        <div class="imgBox">
            <img class="img01" src="/images/mobile/06.png" alt=""/>
            <img class="img02" src="/images/mobile/06_1.png" alt=""/>
        </div>
    </div>
    <div class="section s_7 hidden">
        <div class="imgBox">
            <img class="img01" src="/images/mobile/07.png" alt=""/>
            <img class="img02" src="/images/mobile/07_1.png" alt=""/>
        </div>
        <div class="textBox">
            <h4>订单，销量、库存盘点，所有数据都可以通过微信上报?后台自动形成报表。市场数据随时掌握</h4>
        </div>
    </div>
    <div class="section s_8 hidden">
        <div class="textBox">
          <h4>“辉腾大管家”国内独创游戏化管理系统，员工使用越多回报越多，用户（企业）可自定义奖品激励方案，员工自动自发使用信息化系统，工作转变为兴趣</h4>
        </div>
        <div class="imgBox">
            <img class="img01" src="/images/mobile/08.png" alt=""/>
            <img class="img02" src="/images/mobile/08_1.png" alt=""/>
        </div>
    </div>
    <div class="section s_9 hidden">
        <div class="imgBox">
            <img class="img01" src="/images/mobile/09.png" alt=""/>
            <img class="img02" src="/images/mobile/09_1.png" alt=""/>
        </div>
        <div class="textBox">
            <h4 class="one">客户资源的创建与积累是企业生存发展的基础资源，通过微信轻松开发客户，上万个客户资源轻松管理</h4>
        </div>
    </div>
    <div class="section s_10 hidden">
        <div class="textBox">
            <h1>可靠的安全保障</h1>
            <h6 class="one">确保信息安全是连接企业的基础。腾讯及微信已建立的</h6>
            <h6 class="two">业界一流的安全保障体系、高可靠的系统实现机制，以</h6>
            <h6 class="three">及企业号完善的安全特性，为企业信息安全提供了全方</h6>
            <h6 class="four">位的安全保障。</h6>
        </div>
        <div class="imgBox">
            <img class="img01" src="/images/mobile/10.png" alt=""/>
        </div>
    </div>
    <div class="section s_11 hidden">
        <div class="imgBox">
            <img class="img01" src="/images/mobile/11.png" alt=""/>
        </div>
        <div class="textBox">
            <h3>郑州辉腾软件科技有限公司</h3>
            <h5>电话：<a href="tel:0371-8888-8139" class="text-white">0371-8888-8139</a>&nbsp;&nbsp;<a href="tel:0371-68097777" class="text-white">0371-68097777</a></h5>
            <h6>地址：中国·郑州紫荆山路商城路金城国贸0617/0603室</h6>
        </div>
    </div>
</div>
<!--<div id="audiocontainer">
    <audio id="bgsound" loop="loop" autoplay="autoplay">
        <source src="/images/11.mp3">
    </audio>
</div>-->
<%- include resource %>
<script src="/js/mobile.js"></script>
<script>
</script>
<% include footer %>